/* src/App.css */

.App {
  text-align: center;
  background-color: #f4f7f6;
  min-height: 100vh;
}

.App-content {
  padding: 20px 200px;
}

.loading, .error {
  font-size: 1.5rem;
  color: #555;
  padding-top: 50px;
}

.error {
  color: red;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  color: #1ab2a6;
}

button {
  background: none;
  border: none;
  padding: 0 10px;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.map-and-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

.map-controls {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  width: 400px;
}

/* 🔴 버튼 스타일 */
.map-controls button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #1ab2a6; /* 버튼 테두리 색상 */
  background-color: #1ab2a6; /* 버튼 배경색 */
  color: white; /* 버튼 글씨색 */
  cursor: pointer;
  transition: background-color 0.2s;
}

.map-controls button:hover {
  background-color: #169b91; /* 호버 시 배경색 변경 */
}

/* 🔴 검색창 스타일 */
.map-controls input {
  flex: 1; /* 남은 공간을 모두 차지 */
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc; /* 검색창 테두리 색상 */
}

.slider-container {
  flex: 1;
  overflow: hidden;
}